<div class="card">
    <div class="card-body">
        <h1>About me</h1>
        <p>Hello friend, I'm Marcos student of Web App Developer, and future worker in Deloitte Dxd.
            I like videogames, computer, music and films. If you want to know more about, search me in Git.</p>
    </div>
</div>