<div class="jumbotron mt-5" style="background: white;">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">Welcome to my first app about note. Please register and start to organize your future task.</p>
  <hr class="my-4">
  <p>For more information about me press the button.</p>
  <a class="btn btn-primary btn-lg" href="https://github.com/MarcosTorresSeg/ProyFinal" role="button">Git Hub</a>
</div>